<h1>Bienvenid@, <span id="username">{{user}}</span></h1>
<p>Pronto podrás intercambiar ideas aquí.</p>

<div>
    <p>Escribe un mensaje: <input id="chatbox"></p>
</div>
<div>
    <p id="message-logs"></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>

