<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center mb-4">Registro</h1>
      <form id="registerForm" class="mb-3">
        <div class="form-group">
          <label for="first_name">Nombre</label>
          <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Ingrese su nombre">
        </div>
        <div class="form-group">
          <label for="last_name">Apellido</label>
          <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Ingrese su apellido">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su email">
        </div>
        <div class="form-group">
          <label for="age">Edad</label>
          <input type="number" class="form-control" id="age" name="age" placeholder="Ingrese su edad">
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese su contraseña">
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
      </form>
      <p class="text-center">¿Ya tienes cuenta? <a href="/users/login">Ingresa aquí</a></p>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/register.js"></script>